- current_user.groups.each do |g|
  .group.rounded-m
    %article.journal.grid_7
      %header
        %h1 #{g.name} journal
      = render :partial => 'transactions/form', locals:{ journal:g.journal }
      = render :partial => 'transactions/list', locals:{ filter:"latest", tags:"", journal:g.journal._id, page:params[:page] }
      .links.right
        = link_to "all", transactions_path(journal_id:g.journal.id)

    %aside.grid_9.omega
      %header
        %h1 Spending Summary
      %article.summary
        %header
          %h1 MTD
          %time(datetime="#{Date.today}") #{Time.now.strftime("%b %d, %Y")}
        %h1 Total Spent: #{g.journal.total_mtd}
        %h1 Top10 Tags
        - g.journal.top_tags_by_value_mtd.each do |item|
          %article.category
            %span.tag= link_to item[1], transactions_path(journal:g.journal,filter:"tagged",tags:item[1])
            %span.amount= item[0]

      %article.summary
        %header
          %h1 YTD
          %time(datetime="#{Date.today}") #{Time.now.strftime("%b %d, %Y")}
        %h1 Total Spent: #{g.journal.total_ytd}
        %h1 Top10 Tags
        - g.journal.top_tags_by_value_ytd.each do |item|
          %article.category
            %span.tag= link_to item[1], transactions_path(journal:g.journal,filter:"tagged",tags:item[1])
            %span.amount= item[0]
            
    .clear