%section.home
  %h1 User Home

  - current_user.groups.each do |g|
    %section.journal
      %h1= g.name
      = render :partial => 'transactions/form', :locals => { :journal => g.journal }
        
      - g.journal.transactions.each do |t|
        %article.transaction
          %ul
            %li= t.notes
            %li= t.date
            %li= t.amount