<h1>Listing currencies</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Symbol</th>
    <th>Name</th>
    <th>Decimals</th>
  </tr>

<% @currencies.each do |currency| %>
  <tr>
    <td><%= currency.code %></td>
    <td><%= currency.symbol %></td>
    <td><%= currency.name %></td>
    <td><%= currency.decimals %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Currency', new_currency_path %>
