%article.form
  = form_for (@transaction) do |f|
    .field
      = f.text_field :group, value:journal.group.name, readonly:'readonly', class:'hidden'
    .field
      = f.text_field :journal_id, value:journal.id, readonly:'readonly', class:'hidden'
    .field.offix
      = f.text_area :notes, rows:'3', required:'required', placeholder:'transaction description (can use #tags)', class:'rounded-s'
    .actions.right
      .buttons
        = f.submit
      
:javascript
  $(function() {    
    $('.flash').ajaxError(function(e, jqxhr, settings, exception) {
      $(this).append('<div class="errors rounded-s">Errors: '+jqxhr.responseText+'</div>' );
    });

    $('#transaction_notes').focusin(function() {
      $(this).css('background-color','#e5fff3');
    });
    $('#transaction_notes').focusout(function() {
      $(this).css('background-color','#fff');
    });
    
    $('#new_transaction').submit(function(e) {
      /* stop form from submitting normally */
      e.preventDefault();
      $('.flash').empty();

      var ready = true;
                
      if (ready) {
        $.post('#{transactions_path(format:"json")}', $(this).serialize(), function(data) {
          journal = data.transaction.journal_id;
          $('#transactions_'+journal).prepend($('#transaction_template_'+journal).tmpl(data));
          $('#new_transaction').each(function() {this.reset();});
        })
        .error(function() {
        });
      } else {
        $('#flash').append('<div class="error rounded-s">what do you want me to do with a blank entry?</div>');
      }
    });
  });