%article.entry
  = form_for (@transaction) do |f|
    .field
      = f.text_field :group, :value => journal.group.name, :readonly => 'readonly', :class => 'hidden'
    .field
      = f.text_field :journal_id, :value => journal.id, :readonly => 'readonly', :class => 'hidden'
    .field
      = f.text_area :notes, :rows => '3', :placeholder => 'transaction description (can use #tags)'
    .actions
      = f.submit