%article.form
  = form_for @transaction, remote:true, html:{'data-type' => 'json'} do |f|
    .field
      = f.text_field :group, value:journal.group.name, readonly:'readonly', class:'hidden'
    .field
      = f.text_field :journal_id, value:journal.id, readonly:'readonly', class:'hidden'
    .field.offix
      = f.text_area :notes, rows:'3', required:'required', placeholder:'transaction description (can use #tags)', class:'rounded-s'
    .actions.right
      .buttons
        = f.submit disable_with:"Submitting...", class:"positive"
      .clear
      
:javascript
  $(function() {
    var $flash = $('.flash');
    
    $('#transaction_notes').focusin(function() {
      $(this).css('background-color','#e5fff3');
    });
    $('#transaction_notes').focusout(function() {
      $(this).css('background-color','#fff');
    });

    $('#new_transaction')
      .bind('ajax:success', function(evt, data, status, xhr){
        var $this = $(this);
        var jid = data.transaction.journal_id;

        $('#transaction_template_'+jid).tmpl(data).hide().prependTo($('#transactions_'+jid)).fadeIn("slow");
        $('#new_transaction').each(function() {this.reset();});
        $flash.empty();
        $flash.append('<div class="notice rounded-s">transaction added</div>');
      })
      .bind('ajax:error', function(evt, xhr, status, error){
        var responseObject = $.parseJSON(xhr.responseText);
        $flash.empty();

        $.each(responseObject, function(k, v){
          $flash.append('<div class="errors rounded-s"><strong>' + k + '</strong> ' + v + '</div>');
        })
      });
  });