%article.transaction
  %ul
    %li.currency.rounded-s{:class => transaction.currency.downcase}= transaction.currency
    %li.amount= number_to_currency(transaction.amount, :unit => '')
    %li.tags= "transaction.tags"
    - if not transaction.desc.blank?
      %li.notes.rounded-m= transaction.desc
    %li.actions
      = link_to 'ed', edit_transaction_path(transaction), :class => "edit"
      = link_to 'rm', transaction, :class => "delete", :confirm => 'Are you sure?', :method => :delete
