%script(type="text/x-jquery-tmpl" id="transaction_template_#{journal}")
  %li.transaction
    %article(id="${transaction._id}")
      %span.date ${transaction.date}
      .amount 
        %span.currency.rounded-s(class="${transaction.currency}") ${transaction.currency}
        %span ${transaction.amount}
      %span.notes.rounded-m ${transaction.desc}
      %span.tags ${transaction.tags}
      %span.created-at ${transaction.created_at}
      .actions
        %a(class="edit" data-remote="true" data-type="json" href="/transactions/${transaction._id}/edit")edit
        %a(class="delete" href="/transactions/${transaction._id}" data-confirm="Are you sure" data-method="delete" data-remote="true" data-type="json" rel="nofollow")delete
  
%section.transactions(id="#{journal}" data-page="#{page}" data-filter="#{filter}" data-tags="#{tags}" data-url="#{transactions_path(format:"json")}")
  %ol.list(class="#{filter}")
