%section.list
  %script(type="text/x-jquery-tmpl" id="transaction_template_#{journal.id}")
    %article.transaction
      %ul
        %li.date ${transaction.date}
        %li.amount 
          %span.currency.rounded-s(class="${transaction.currency}") ${transaction.currency}
          %span ${transaction.amount}
        %li.notes.rounded-m ${transaction.desc}
        %li.tags ${transaction.tags}
        %li.created-at ${transaction.created_at}
    
  %ol.list(id="transactions_#{journal.id}" class="latest")
    
  :javascript
    $(function () {
      $.getJSON("#{transactions_path(format:"json")}",
        {
          journal_id:"#{journal.id}", 
          limit:"#{limit}"
        },
        function(data) {
          $("#transactions_#{journal.id}").html($("#transaction_template_#{journal.id}").tmpl(data));
        }
      );
    });
    
