%section.list
  %script(type="text/x-jquery-tmpl" id="transaction_template_#{journal.id}")
    %article.transaction
      %ul
        %li.date ${transaction.date}
        %li.amount 
          %span.currency.rounded-s(class="${transaction.currency}") ${transaction.currency}
          %span ${transaction.amount}
        %li.notes.rounded-m ${transaction.desc}
        %li.tags ${transaction.tags}
        %li.created-at ${transaction.created_at}
      .actions
        %a(class="edit" data-remote="true" href="/transactions/${transaction._id}/edit")edit
        %a(class="delete" href="/transactions/${transaction._id}" data-confirm="Are you sure" data-method="delete" data-remote="true" data-type="json" rel="nofollow")delete
    
  %ol.list(id="transactions_#{journal.id}" class="latest")
  
  :javascript
    $(function () {
      var $flash = $('.flash');

      $.getJSON("#{transactions_path(format:"json")}",
        {
          journal_id:"#{journal.id}", 
          limit:"#{limit}"
        },
        function(data) {
          $("#transactions_#{journal.id}").html($("#transaction_template_#{journal.id}").tmpl(data));
        }
      );
      
      $('.transaction .delete')
        .live('ajax:success', function(evt, data, status, xhr){
          $(this).closest('article').fadeOut('slow', function() {$(this).remove()});

          $flash.empty();
          $flash.append('<div class="alert rounded-s">transaction deleted</div>');
        })
        .live('ajax:error', function(evt, xhr, status, error){
          console.log("ajax:error");
          var responseObject = $.parseJSON(xhr.responseText);

          $flash.empty();
          $.each(responseObject, function(k, v){
            $flash.append('<div class="errors rounded-s"><strong>' + k + '</strong> ' + v + '</div>');
          })
        });
    });
    
