<h1>Listing transactions</h1>

<script type="text/javascript">
$(function() {
	$("#from_date").datepicker({showOtherMonths: true, selectOtherMonths: true});
	$("#to_date").datepicker({showOtherMonths: true, selectOtherMonths: true});
	$("a", ".date_filter").button();
});
</script>

<div class="date_filter">
	<a href="<%= transactions_path(:filter => 'all') %>">ALL</a>
	<a href="<%= transactions_path(:filter => 'mtd') %>">MTD</a>
	<a href="<%= transactions_path(:filter => 'ytd') %>">YTD</a>
	<% form_tag(transactions_path, :method => 'get', :class => 'inline_form') do %>
	  <%= text_field_tag :from_date, @from_date %> - 
	  <%= text_field_tag :to_date, @to_date %>
		<%= hidden_field_tag("filter", 'custom') %>

	  <%= submit_tag "Custom" %>
	<% end %>
</div>

<table>
  <tr>
		<th>&nbsp;</th>
    <th>Date</th>
		<th>Notes</th>
    <th colspan="2">Amount</th>
    <th>Debit</th>
    <th>Credit</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= transaction.date %></td>
		<td><%= link_to transaction.notes, transaction %></td>
		<td><%= transaction.debit_account.currency.symbol %></td>
		<td align="right"><%= number_to_currency(transaction.amount, :unit => "") %></td>
		<td><%= link_to transaction.debit_account.name, transaction.debit_account %></td>
		<td><%= link_to transaction.credit_account.name, transaction.credit_account %></td>
  </tr>
<% end %>

	<tr>
		<td colspan="2">Total Transactions:</td>
		<td align="center"><%= @transactions.count("id") %></td>
		<td colspan="2" align="right"><%= number_to_currency(@transactions.sum("amount"), :unit => "") %></td>
		<td colspan="2">&nbsp;</td>
	</tr>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
<%= link_to 'Accounts List', accounts_path %>
