<h1>Listing transactions</h1>

<table>
  <tr>
		<th>&nbsp;</th>
    <th>Date</th>
		<th>Notes</th>
    <th colspan="2">Amount</th>
    <th>Debit</th>
    <th>Credit</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= transaction.date %></td>
		<td><%= link_to transaction.notes, transaction %></td>
		<td><%= transaction.debit_account.currency.symbol %></td>
		<td align="right"><%= number_to_currency(transaction.amount, :unit => "") %></td>
		<td><%= link_to transaction.debit_account.name, transaction.debit_account %></td>
		<td><%= link_to transaction.credit_account.name, transaction.credit_account %></td>
  </tr>
<% end %>

	<tr>
		<td colspan="3">Total Transaction Amount:</td>
		<td colspan="2" align="right"><%= number_to_currency(Transaction.sum("amount"), :unit => "") %></td>
		<td colspan="2">&nbsp;</td>
	</tr>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
<%= link_to 'Accounts List', accounts_path %>
