<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Date</th>
		<th>Notes</th>
    <th>Amount</th>
    <th>Debit</th>
    <th>Credit</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
		<td><%= transaction.date %></td>
		<td><%= link_to transaction.notes, transaction %></td>
		<td align="right"><%= number_to_currency(transaction.amount, :unit => transaction.debit_account.currency.symbol) %></td>
		<td><%= link_to transaction.debit_account.name, transaction.debit_account %></td>
		<td><%= link_to transaction.credit_account.name, transaction.credit_account %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
<%= link_to 'Accounts List', accounts_path %>
