!!! 5
%html
  %head
    %title Beans
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :header
    = csrf_meta_tags
  
  %body
    = render :partial => 'shared/usernav'
    .flash
      - flash.each do |type, message| -
        .message{:class => "#{type}"}
          = message
    = yield
    = yield :scripts