!!! 5
%html
  %head
    %title Beans
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :header
    = csrf_meta_tags
  
  %body.web
    #container
      = render :partial => 'shared/usernav'
      %section.main.container_16
        = render :partial => 'shared/flash', :locals => { :flash => flash }
        = yield
        = yield :scripts
      = render :partial => 'shared/footer'