!!! 5
%html
  %head
    %title Beans
    = stylesheet_link_tag "fluid960gs/reset", "fluid960gs/text", "fluid960gs/960"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :header
    = csrf_meta_tags
  
  %body
    = render :partial => 'shared/usernav'
    %section.main
      .usernav_push
      = render :partial => 'shared/flash', :locals => { :flash => flash }
      = yield
      = yield :scripts
      .footer_push
    = render :partial => 'shared/footer'