<!DOCTYPE html>
<html>
<head>
  <title>Beans</title>
  <%= stylesheet_link_tag :all %>
	<%= stylesheet_link_tag "beyond150-theme/jquery-ui-1.8.4.custom.css" %>

	<%= javascript_include_tag "jquery-1.4.2.min.js" %>
	<%= javascript_include_tag "jquery-ui-1.8.4.custom.min.js" %>
  <%= javascript_include_tag "rails.js", "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
