<h1>Chart of Accounts</h1>

<table>
  <tr>
    <th></th>
    <th>Type</th>
    <th>Currency</th>
    <th>Name</th>
		<th></th>
    <th colspan="2">Balance</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= type_badge(account.type) %></td>
    <td><%= account.currency.code %></td>
    <td><%= link_to account.name, account %></td>
		<td><%= account.currency.symbol %></td>
    <td align="right"><%= humanize_debit_balance(account) %></td>
    <td align="right"><%= humanize_credit_balance(account) %></td>
  </tr>
<% end %>

	<tr>
		<td colspan="5">Total Balance</td>
		<td align="right"><%= number_to_currency(Account.all.collect{ |a| a.debit_balance }.sum, :unit => "") %> DR</td>
		<td align="right"><%= number_to_currency(Account.all.collect{ |a| a.credit_balance }.sum, :unit => "") %> CR</td>
	</tr>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
<%= link_to 'Transactions List', transactions_path %>
<%= link_to 'New Transaction', new_transaction_path %>
