<h1>Chart of Accounts</h1>

<table>
  <tr>
    <th></th>
    <th>Type</th>
    <th>Currency</th>
    <th>Name</th>
		<th></th>
    <th>Balance</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= type_badge(account.type) %></td>
    <td><%= account.currency.code %></td>
    <td><%= link_to account.name, account %></td>
		<td><%= account.currency.symbol %></td>
    <td align="right"><%= humanize_account_balance(account) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
