<h1>
	<%= @account.name %>
	<div class="badge"><%= @account.currency.code %></div>
	<div class="badge"><%= type_badge(@account.type) %></div>
</h1>


<script type="text/javascript">
$(function() {
	$("#from_date").datepicker({showOtherMonths: true, selectOtherMonths: true});
	$("#to_date").datepicker({showOtherMonths: true, selectOtherMonths: true});
	$("input:submit, a", ".date_filter").button();
});
</script>

<div class="date_filter">
	<a href="<%= account_url(@account, :filter => 'all') %>">ALL</a>
	<a href="<%= account_url(@account, :filter => 'mtd') %>">MTD</a>
	<a href="<%= account_url(@account, :filter => 'ytd') %>">YTD</a>
	<% form_tag(@account, :method => 'get', :class => 'inline_form') do %>
	  <%= text_field_tag :from_date, @from_date %> - 
	  <%= text_field_tag :to_date, @to_date %>
		<%= hidden_field_tag("filter", 'custom') %>

	  <%= submit_tag "Custom" %>
	<% end %>
</div>

<p id="notice"><%= notice %></p>

<dl>
	<dt>Opening Balance</dt>
	  <dd><%= humanize_amount(@opening_balance) %></dd>
	<dt>Period Activity</dt>
		<dd><%= humanize_amount(@period_activity) %></dd>
	<dt>Closing Balance</dt>
	  <dd><%= humanize_amount(@closing_balance) %></dd>
</dl>

<table>
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Notes</th>
		<th>DR</th>
		<th>CR</th>
	</tr>
	
<% @entries.each do |entry| %>
  <tr>
    <td><%= link_to 'Destroy', entry.transaction, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to entry.date, entry.transaction %></td>
    <td><%= link_to entry.transaction.notes, entry.transaction %></td>
    <td align="right"><%= if entry.type=="DebitEntry"; number_to_currency(entry.amount, :unit => ""); end %></td>
    <td align="right"><%= if entry.type=="CreditEntry"; number_to_currency(entry.amount, :unit => ""); end %></td>
  </tr>
<% end %>

	<tr>
		<td colspan="2">Totals</td>
    <td align="right"><%= humanize_debit_total(@debits_total) %></td>
    <td align="right"><%= humanize_credit_total(@credits_total) %></td>
	</tr>
	
</table>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
