<p id="notice"><%= notice %></p>

<p>
  <b><%= @account.name %></b> (<%= @account.currency.code %>) <%= type_badge(@account.type) %>
</p>

<% form_tag(@account, :method => 'get') do %>
	<div class="field">
	  <%= label_tag :start %><br />
	  <%= text_field_tag :start %>
	</div>

	<div class="field">
	  <%= label_tag :end %><br />
	  <%= text_field_tag :end %>
	</div>

	<div class="actions">
	  <%= submit_tag %>
	</div>
<% end %>

<table>
	<tr>
		<th>Name</th>
		<th>Notes</th>
		<th>DR</th>
		<th>CR</th>
	</tr>
	
<% @entries.each do |entry| %>
  <tr>
    <td><%= link_to entry.date, entry.transaction %></td>
    <td><%= link_to entry.transaction.notes, entry.transaction %></td>
    <td align="right"><%= if entry.type=="DebitEntry"; number_to_currency(entry.amount, :unit => ""); end %></td>
    <td align="right"><%= if entry.type=="CreditEntry"; number_to_currency(entry.amount, :unit => ""); end %></td>
  </tr>
<% end %>

	<tr>
		<td colspan="2">Balance</td>
    <td align="right">DR <%= humanize_amount(@entries.where("type = 'DebitEntry'").sum("amount")) %></td>
    <td align="right">CR <%= humanize_amount(@entries.where("type = 'CreditEntry'").sum("amount")) %></td>
	</tr>
	
</table>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
